<!DOCTYPE html>
<html lang="en">
  
  {% include head.html %}
  
<body>

  {% include header.html %}

  <div class="cover">     
    <div class="presentation">
      <h1 class="presentation__title">Anna, Graphic Designer &amp; Illustrator.</h1>
      
      <div class="grid">
        <div class="col">
          <figure>
            <img src="/img/anna4.jpg" alt="Anna Lanaro profile picture">
          </figure>
        </div>

        <div class="col">
          <div class="presentation__txt">
            <p class="presentation__intro">I enjoy working on different media as I often switch grounds during jobs. I’m a curious person. I like to meet people and to work in social environments. I love being in the mountains and baking cakes.</p>
            <p class="presentation__now">Currently working at <a href="http://www.w13-designkultur.com" target="_blank">W13</a> as graphic designer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container">
      {% include thumbs.html %}
    </div>
  </div>
  
  {% include footer.html %}

</body>
</html>
