<!DOCTYPE html>
<html lang="en">
  
  {% include head.html %}
  
<body>

  {% include header.html %}

  <div class="hello">
    <div class="hello__txt">
      <h1 class="hello__title">Anna, born 1989, Graphic Designer &amp; Illustrator based in Bologna.</h1>
      <p>Currently working at <a href="http://www.dope-factory.com" target="_blank">Dope Factory</a> as graphic designer, photographer and content &amp; social media manager.Social media manager at <a href="https://www.instagram.com/caborestaurant/" target="_blank">CaBò Restaurant</a>.</p>
      <p>I enjoy working on different media as I often switch grounds during jobs. I’m a curious person. I like to meet people and I’m used to work in social environments. I love being in the mountains and baking cakes.</p>
    </div>

    <figure class="hello__fig">
      <img src="/img/anna.jpg" alt="Anna Lanaro profile picture">
    </figure>
  </div>

  {% include footer.html %}
</body>
</html>
